xmldefs/snippet.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="snippet">
        <xs:complexType  mixed="true">
            <xs:attribute name="package" type="xs:string" use="required"/>
            <xs:attribute name="lang" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>